@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply font-sans;
   line-height: 1.25;
}

.btn {
   border-radius: 80px;
   @apply border border-transparent hover:!bg-primary-400 hover:!text-white transition duration-300 px-5 py-4 md:px-8 md:py-5.5 text-sm md:text-base font-bold leading-tight;
}

.btn-sm {
   @apply md:px-7 md:py-5 py-3;
}

.btn-primary {
   @apply bg-primary text-white;
}

.btn-outline {
   @apply border-primary text-primary font-normal;
}

.btn-light {
   @apply bg-primary-100 text-primary;
}

.form-input {
   border-radius: 60px;
   box-shadow: 0px 8px 25px 0px rgba(13, 10, 44, 0.06);
   @apply block w-full bg-white border border-white-100 md:p-6 p-5 md:pr-8 text-base text-gray focus:border-primary focus:outline-none;
}

.form-radio {
   @apply cursor-pointer md:p-6 p-4 flex items-center space-x-4 rounded-2xl border-2 border-white-100;
   box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
   min-height: 119px;
}

input:checked + .form-radio {
   @apply border-primary border-2;
}

.form-radio .radio-circle {
   @apply border border-gray-200 w-6 h-6 rounded-full;
   box-shadow: 0px -3px 7px 0px rgba(20, 20, 43, 0.08) inset;
}

input:checked + .form-radio .radio-circle {
   @apply border-[7px] border-primary
}

.step-num {
   @apply w-7 h-7 rounded-full flex items-center justify-center bg-white-100 text-gray text-sm transition-all duration-300;
}

.step-num.filled {
   @apply bg-primary text-white;
}
